* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    overflow-x: none;
}

#navlist {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navcontainer {
    width: 100vw;
    background-color: khaki;
    height: 40px;
}

.hyperlink {}