.user-container{
    background-color: antiquewhite;
    padding: 10px;
    color: black;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    gap:1.5rem;
    align-items: center;
    margin: 1rem;
}
#usr-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}